@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: calibri, sans serif;
}

.lista-admin{
	position: left;
	width: 550px;
	margin: 10px;
	padding: 50px;
}

.titulo {
	
	padding: 0.5% 0;
	text-align:center;
	background-color: #101132;
	color: white;
}

.titulo-usuario {
	text-align:right;
	background-color: #101132;
	color: #ffffff;
}

.container-tabla{
	
	min-width: 980px;
	margin: 0 auto;
}

h1 {
	width: 1000px;
	margin: auto;
	font-size: 40px;
	font-weight: normal;
	padding: 20px 0px 10px 0px;
}

header {
	border-left: 1px solid gray;
	padding: 10px 0 10px 0;
}

nav {
	width: 1000px;
	margin: auto;
}

nav ul {
	display: flex;
	flex-direction: row;
}

nav ul li {
	list-style: none;
	margin-right: 35px;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #626262;
}

nav ul li a:hover {
	background-color: #101132;
	color: white;
	padding: 10px 0 10px 0;
	transition: ease-in-out 0.2s;
}

.contenedor-report{
	display: flex;
	justify-content: space-between;
	width: 850px;
	margin: 50px auto 0 auto;
	
}

.contenedor-fluid {
	border-top: solid gray 1px;
	background-color: indigo;
}

.cliente {
	display: flex;
	justify-content: space-between;
	width: 850px;
	margin: 50px auto 0 auto;
	
}
.cliente label {
	display: block;
	color: #000000;
	font-size: 20px;
	margin-bottom: 15px;
}

.cliente input {
	display: block;
	font-size: 20px;
	width: 460px;
	margin-bottom: 15px;
}

.productosGrande {
	
	display: flex;
	justify-content: space-between;
	
	margin: 20px 0 20px 50px;
	
}
.productosGrande label {
	display: block;
	color: #000000;
	font-size: 20px;
	margin-bottom: 15px;
}

.productosGrande input {
	display: block;
	font-size: 20px;
	width: 260px;
	margin-bottom: 15px;
}

.individuales{
	
	margin: 10px;
}

.precios {
	
	justify-content: space-between;
	width: 350px;
	margin: 50px auto 0 auto;
	
}
.precios label {
	display: block;
	color: #000000;
	font-size: 20px;
	margin-bottom: 15px;
}

.precios input {
	display: block;
	font-size: 20px;
	width: 460px;
	margin-bottom: 15px;
}

.contenedorIN {
	display: flex;
	justify-content: space-between;
	width: 850px;
	margin: 50px auto 0 auto;
}

.contenedorIN label {
	display: block;
	color: #000000;
	font-size: 20px;
	margin-bottom: 15px;
}

.contenedorIN input {
	display: block;
	font-size: 20px;
	width: 260px;
	margin-bottom: 15px;
}

.contenedorIN2 {
	float: left;
	display: flex;
	justify-content: space-between;
	width: 350px;
	margin: 50px auto 0 auto;
}

.contenedorIN2 label {
	display: block;
	color: #000000;
	font-size: 20px;
	margin-bottom: 15px;
}

.contenedorIN2 input {
	display: block;
	font-size: 20px;
	width: 260px;
	margin-bottom: 15px;
}

.contenedor-fluid-2 {
	border-top: solid gray 1px;
	background-color: indigo;
}

.contenedorIN3 {
	float: left;
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin: 50px auto 0 auto;
}

.contenedorIN3 label {
	display: block;
	color: #000000;
	font-size: 20px;
	margin-bottom: 15px;
}

.contenedorIN3 input {
	display: block;
	font-size: 20px;
	width: 260px;
	margin-bottom: 15px;
}
.contenedorIN4 {
	
	display: flex;
	justify-content: space-between;
	width: 350px;
	margin: 50px auto 0 auto;
}

.contenedorIN4 label {
	display: block;
	color: #000000;
	font-size: 20px;
	margin-bottom: 15px;
}

.contenedorIN4 input {
	display: block;
	font-size: 20px;
	width: 160px;
	margin-bottom: 15px;
}



.boton-cedula{
	
	margin: auto;
	width: 850px;
	display: flex;
	justify-content: center;
}

.contenedorBotones {
	
	margin: auto;
	width: 850px;
	display: flex;
	justify-content: center;
}

.btn-cliente{
	margin: auto;
	width: 150px;
	display: flex;
}
.btn-cliente input {
	cursor:pointer; 
	width: 100px;
	height: 40px;
	font-family: calibri;
	font-size: 20px;
	background-color: #212369;
	color: white;
	border-radius: 5px;
	margin: 0px 5px 2px 5px;
	border: none;
}

.btn-cliente input:hover {
	cursor:pointer; 
	background-color: #383cb4;
	color: #c0c0c0;
}

.btn-productosGrande{
	margin: auto;
	width: 150px;
	display: flex;
}
.btn-productosGrande input {
	cursor:pointer; 
	width: 100px;
	height: 40px;
	font-family: calibri;
	font-size: 20px;
	background-color: #212369;
	color: white;
	border-radius: 5px;
	margin: 10px 10px 0 10px;
	border: none;
}

.btn-productosGrande input:hover {
	cursor:pointer; 
	background-color: #383cb4;
	color: #c0c0c0;
}


.btn-precios{
	
	margin: auto;
	width: 850px;
	display: flex;
}
.btn-precios input {
	cursor:pointer; 
	width: 150px;
	height: 40px;
	font-family: calibri;
	font-size: 20px;
	background-color: #212369;
	color: white;
	border-radius: 5px;
	margin: 40px 10px 0 10px;
	border: none;
}

.btn-precios input:hover {
	cursor:pointer; 
	background-color: #383cb4;
	color: #c0c0c0;
}

.contenedorBotones input {
	cursor:pointer; 
	width: 150px;
	height: 40px;
	font-family: calibri;
	font-size: 20px;
	background-color: #212369;
	color: white;
	border-radius: 5px;
	margin: 40px 10px 0 10px;
	border: none;
}

.contenedorBotones input:hover {
	cursor:pointer; 
	background-color: #383cb4;
	color: #c0c0c0;
}
